<div>
  <button (click)="show()">show</button>
  <ng-container
    *ngTemplateOutlet="
      tmpl;
      context: {
        $implicit: 'Kain',
        age: 24
      }
    "
  ></ng-container>

  <ng-container #entry></ng-container>

  <ng-template #tmpl let-name let-age="age">
    <h1>I'm {{ name }}, {{ age }} years old.</h1>
  </ng-template>

  <hr />
  <h1>ngForIn</h1>
  <ng-template
    appFor
    [appForIn]="[1, 2, 3, 4]"
    let-item
    let-first="first"
    let-last="last"
    let-index="index"
    let-odd="odd"
    let-even="even"
  >
    <li>
      Item: {{ item }}, index: {{ index }}, isFirst: {{ first }}, isLast:
      {{ last }}, isOdd: {{ odd }}, isEven: {{ even }}
    </li>
  </ng-template>
  <hr />
  <h1>ngForIn short hand</h1>
  <li
    *appFor="
      let item;
      in: [1, 2, 3, 4];
      index as index;
      odd as odd;
      even as even;
      first as first;
      last as last
    "
  >
    Item: {{ item }}, index: {{ index }}, isFirst: {{ first }}, isLast:
    {{ last }}, isOdd: {{ odd }}, isEven: {{ even }}
  </li>
  <hr />
  <h1>ngIf</h1>
  <button (click)="toggle()">toggle</button>
  <ng-template [appIf]="isShowContent">
    <h3>This is content</h3>
  </ng-template>
  <h1>ngIf short hand</h1>

  <ng-container *appIf="isShowContent">
    <h3>This is content</h3>
  </ng-container>

  <hr />
  <h1>ngSwitch current value:{{ item }}</h1>
  <button (click)="increase()">increase</button>
  <button (click)="decrease()">decrease</button>
  <button (click)="reset()">reset</button>
  <ng-template [appSwitch]="item">
    <ng-template appSwitchDefault>
      <h3>Item default</h3>
    </ng-template>
    <ng-template [appSwitchCase]="1">
      <h3>Item has value 1</h3>
    </ng-template>
    <ng-template [appSwitchCase]="2">
      <h3>Item has value 2</h3>
    </ng-template>
    <ng-template #child [appSwitchCase]="3">
      <h3>Item has value 3</h3>
    </ng-template>
    <ng-template [appSwitchCase]="4">
      <h3>Item has value 4</h3>
    </ng-template>
    <ng-template [appSwitchCase]="5">
      <h3>Item has value 5</h3>
    </ng-template>
  </ng-template>
</div>
